flet
flet-audio-recorder
flet-camera
flet-cli
flet-desktop
flet-video
flet-web
google-generativeai
google-genai
SpeechRecognition
sounddevice
numpy
Pillow
python-dotenv
mysql-connector-python
fastapi
uvicorn
opencv-python-headless
portaudio19-dev
libgl1-mesa-glx
libglib2.0-0




